@using GTCore.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log in";
}

<head>
    <style>
        .input-icons i {
            position: absolute;
        }

        .input-icons {
            width: 100%;
            margin-bottom: 10px;
        }


        .btn {
            position: relative;
            display: block;
            color: black;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Times New Roman';
            text-decoration: none;
            margin: 30px;
            border: 2px solid #ff7675;
            padding: 14px 60px;
            text-transform: uppercase;
            letter-spacing: 1px;
            overflow: hidden;
            transition: 1s all ease;
        }

            .btn::before {
                background: #ff7675;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                transition: all 0.6s ease;
            }

        .btn1::before {
            width: 0;
            height: 100%;
        }

        .btn1:hover::before {
            width: 100%;
        }


        .text-danger {
            color: blue
        }

        h2 {
            color: green;
        }

        button[type=submit] {
            color: rgba(255,255,255,.9);
            background: #9152f8;
            background: -webkit-linear-gradient(bottom,#3b9f71,#0a0a0a) !important;
            background: -o-linear-gradient(bottom,#3e6d8d,#121d30) !important;
            background: -moz-linear-gradient(bottom,#3e6d8d,#121d30) !important;
            background: linear-gradient(bottom,#3e6d8d,#121d30) !important;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.6);
            width: 108%;
            padding: 11px;
            margin: 0px 0;
            margin-left: -10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            button[type=submit]:hover {
                flex: 1 0 auto;
                color: rgba(255,255,255,.9);
                background: -webkit-linear-gradient(bottom,#24e18a,#000000) !important;
                text-align: center;
            }
    </style>
</head>

<div class="d-flex justify-content-center h-100">
    <div class="user_card">
        <span class="spani1">
            <h9 class="brand_logo">GTEXCH </h9>
        </span>
        <div class="d-flex justify-content-center form_container" style="margin-top: 22px;">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="input-icons">
                    <i class="fa fa-user icon">
                    </i>
                    @Html.TextBoxFor(m => m.Username, new { autofocus = "autofocus", placeholder = "Username", @id = "txtname", @class = "input-field" })
                </div>
                <div class="input-icons">
                    <i class="fa fa-key icon">
                    </i>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @id = "txtpass", @class = "input-field" })
                </div>
                <div class="form-group" font-family:'Josefin Sans'">
                    <div class="col-md-12" style="padding-right: 38px !important">
                        <label> <input type="checkbox" style="color:ActiveBorder; width:28px; margin-left:21px; left:auto; font-family:'Josefin Sans'; text-shadow:0px 0.3px #000000" />  <b>Remember Me</b> </label>
                    </div>
                </div>
                <div class="input-field">
                    <button type="submit" style="text-shadow: 	0.5px 0.5px #FFFFFD;" id="btnLogin" class="btn btn1" name="button">Login</button>
                </div>
            }
        </div>

        <div class="main-container">

            <p style="font-family:'Times New Roman';text-shadow:0px 0.3px #000000">
                <strong><a href="#" onclick="showaboutus()" style="color:black">About us</a> | </strong>

                <strong><a href="https://globaltraderexch.com/Terms/Index#cookiepolicy" onclick=" window.open('/Terms/Index#cookiepolicy', '_blank', 'width=800, height=600', window.focus()) " style="color:black">Cookie Policy</a> | </strong>

                <strong><a href="https://globaltraderexch.com/Terms/Index#term" onclick=" window.open('/Terms/Index#term', '_blank', 'width=800, height=600', window.focus()) " style="color:black">Terms &amp; Conditions</a> | </strong>

                <strong><a href="https://globaltraderexch.com/Terms/Index#responsiblegambling" onclick=" window.open('/Terms/Index#responsiblegambling', '_blank', 'width=800, height=600', window.focus()) " style="color:black">Gambling can be addictive, please play responsibly</a> | </strong>

                <strong><a href="#" onclick=" window.open('/Terms/Index#parentalsupervision', '_blank', 'width=800, height=600', window.focus()) " style="color:black">Parental Supervision</a> | </strong>
            </p>
            <hr>
            <p style="background-color:#d5d5d5; box-shadow:rgba(0, 0, 0, 0.2) 0px 8px 16px 0px, rgba(0, 0, 0, 0.6) 0px 6px 20px 0px">

                <span class="powerdby">Powered by </span>
                <img height="40" width="110" alt="Global" src="~/betfair-logo.png" />
            </p>


        </div>

    </div>
</div>