@using GTExCore.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Trader | Reports</title>
    <link rel="icon" href="~/Content/Images/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GTExCore.styles.css" asp-append-version="true" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Bootstrap -->
    @*  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    *@
    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <!-- Bootstrap DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

    <script type="text/javascript">
    </script>

    <style>


        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 25px;
            border: none;
            outline: none;
            color: white;
            cursor: pointer;
            width: 54px;
            padding: 13px;
            border-radius: 50px;
        }

            #myBtn:hover {
                background-color: #00a190;
            }
    </style>

</head>
<body>
    @if (LoggedinUserDetail.GetUserTypeID() == 3)
    {
        <button onclick="topFunction()" id="myBtn" title="Go to top" style="background-color: #075e54;"> <i class="fa fa-angle-double-up"></i> </button>
    }
    else
    {
        <button onclick="topFunction()" id="myBtn" title="Go to top" style="background-color: #1D9BF0 ;"> <i class="fa fa-angle-double-up"></i> </button>
    }

    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <div class="container body-content" style="min-height:0% !important">
        <div class="navbaraccounts">
            <div class="navbar-inner">
                <div class="navbar-container">
                    <div class="seven">
                        <a href="/DashBoard/Index" target="_self">
                            <h1 class="seven">
                                Full Reports
                            </h1>
                            <h2 style="color:red">
                                << Back to Dash_board
                            </h2>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    @if (LoggedinUserDetail.GetUserTypeID() == 3)
    {
        <div class="btnacc">
            <button class="btn btn-info btn-lg " style="margin:6px;width:120px" type="button">
                <a href="/Accounts/AccStatement/">Statements</a>
            </button>
            <button class="btn btn-info btn-lg" style="margin:6px; width:120px" type="button">
                <a href="/Accounts/MyBets"> My Bets</a>
            </button>
            <button class="btn btn-info btn-lg" style="margin:6px;width:120px" type="button">
                <a href="/Accounts/pl"> Profit/Loss</a>
            </button>
            <button class="btn btn-info btn-lg" style="margin:6px; width:120px" type="button">
                <a href="/Accounts/PlusMinusSummery"> P/L-Summry </a>
            </button>
            <button class="btn btn-info btn-lg" style="margin:6px; width:120px" type="button">
                <a href="/Accounts/Stack"> My Button </a>
            </button>

            <button class="btn btn-info btn-lg" style="margin:6px; width:120px" type="button">
                <a href="/Accounts/UserActivites">Activity Log </a>

            </button>
        </div>
    }
    else
    {
        <div class="btnacc1">

            <button class="glow-on-hover1 " type="button">
                <a href="/Accounts/AccStatement/">Statements</a>
            </button>

            <button class="glow-on-hover1 " type="button">
                <a href="/Accounts/MyBets"> My Bets</a>
            </button>

            <button class="glow-on-hover1 " type="button">
                <a href="/Accounts/pl"> Profit/Loss</a>
            </button>

            <button class="glow-on-hover1 " type="button">
                <a href="/Accounts/PlusMinusSummery"> P/L-Summry </a>
            </button>

            <button class="glow-on-hover1 " type="button">
                <a href="/Accounts/Stack"> My Button </a>
            </button>

            <button class="glow-on-hover1 " type="button">
                <a href="/Accounts/UserActivites">Activity Log </a>
            </button>

        </div>
    }
    <div class="col-md-12  no-padding">
        <div class="pagecontent">
            @RenderBody()
        </div>
    </div>
    <div class="modalpopuploader">
        <div class="centerdiv">

            <label id="lblCounter"></label>
        </div>
    </div>


    <script type="text/javascript">

        $(document).ready(function () {
            var $url = $('#url');
            var options = {
                url: "/DashBoard/Index",
                type: "get",
                async: false
            };

            $.ajax(options).done(function (data) {
                $url.attr('src', data);
            });
        });

        function ShowLoader() {
            $(".modalpopuploader").show();
        }
        function HideLoader() {
            $(".modalpopuploader").hide();
        }
    </script>

</body>
</html>

