@using GTCore.Models
@model IEnumerable<TodayHorseRacing>
@foreach (var item in Model)
{
    <li>
        <a id="marketcatalogueitemtoday@(item.MarketCatalogueID.Replace(".",""))"
           class="active secondlevellink"
           style="background-color:@ViewBag.backgrod;color:@ViewBag.color;font-size:13px;"
           onclick="lastLevelBreadcrumb('@item.MarketCatalogueID.ToString()')">

            @item.TodayHorseRace
            <span style="color:red;">(@item.MarketCatalogueName)</span>

        </a>
    </li>
}
