<head>
    <style>

        .slick-prev {
            left: -6px !important;
        }

        .slick-next {
            right: 13px !important;
        }

            .slick-prev:before, .slick-next:before {
                color: red;
            }
    </style>
</head>
<div class="col-md-12 no-padding row" style="text-align:center;margin-bottom:0px; margin-left:1px;">

    <div class="single-item mainslider">
        <div>
            <label class="lblslider">Comming Soon E Gaming...</label>
        </div>
        <div>
            <label class="lblslider">Comming Soon E Gaming...</label>
        </div>
        <div>
            <label class="lblslider">Comming Soon E Gaming...</label>
        </div>
        <div>
            <label class="lblslider">Comming Soon E Gaming...</label>
        </div>
        <div>
            <label class="lblslider">Comming Soon E Gaming...</label>
        </div>
        <div>
            <label class="lblslider">Comming Soon E Gaming...</label>
        </div>
    </div>
</div>